<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.days4indahwulandari">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Days4IndahWulandari">

        <activity
            android:name=".Tugas4.login"
            android:exported="true"
            android:label="Days4IndahWulandari">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Tugas4.activity_main"></activity>
        <activity android:name=".Tugas4.home"></activity>
        <activity android:name=".Tugas4.masukan"></activity>
        <activity android:name=".Tugas4.help"></activity>

    </application>

</manifest>